Firmware/cube monitor.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "8381c865.236028",
        "type": "subflow",
        "name": "Single value",
        "info": "The 'single value' subflow allows to extract data from processing node.\r\n\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on : [Node-Red](https://nodered.org/docs/user-guide/editor/workspace/subflows)\r\n\r\n\r\n-------\r\n\r\n",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 60,
                "wires": [
                    {
                        "id": "3c5ffe0d.9063b2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "66397fd3.d8111",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "varfilter",
                "type": "str",
                "value": "",
                "ui": {
                    "icon": "font-awesome/fa-filter",
                    "label": {
                        "en-US": "Variable"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "str"
                        ]
                    }
                }
            }
        ],
        "color": "#3CB4E6"
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "22293a40.207896",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d2089109f8b7b691",
        "type": "probe",
        "probeid": "16005400110000363132524E",
        "probename": "ST-Link v2 16005400110000363132524E",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J35",
        "connectionType": "p2p",
        "nickname": "ST-Link"
    },
    {
        "id": "52a7a840fdae121b",
        "type": "exe-config",
        "name": "variables",
        "exefile": "C:\\Users\\alireza\\Documents\\GitHub\\smart-generator-controller\\Firmware\\build\\debug\\SGC.elf",
        "exefolder": "C:\\Users\\alireza\\Documents\\GitHub\\smart-generator-controller\\Firmware\\build\\debug\\",
        "exevariablelist": [
            {
                "address": "0x200055a0",
                "name": "__sbrk_heap_end",
                "type": 5
            },
            {
                "address": "0x0800b3e8",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x2000025c",
                "name": "analog_data.raw_values[0]",
                "type": 3
            },
            {
                "address": "0x0800b3e0",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20001348",
                "name": "configuration.clt_sensor_type",
                "type": 2
            },
            {
                "address": "0x20000a18",
                "name": "configuration.cranking_advance",
                "type": 9
            },
            {
                "address": "0x20000a14",
                "name": "configuration.cranking_rpm_threshold",
                "type": 9
            },
            {
                "address": "0x20000a1c",
                "name": "configuration.cranking_throttle",
                "type": 9
            },
            {
                "address": "0x20000a08",
                "name": "configuration.engine_displacment",
                "type": 9
            },
            {
                "address": "0x20001368",
                "name": "configuration.etb_pid.derivative_filter_tau",
                "type": 9
            },
            {
                "address": "0x2000135c",
                "name": "configuration.etb_pid.Kd",
                "type": 9
            },
            {
                "address": "0x20001358",
                "name": "configuration.etb_pid.Ki",
                "type": 9
            },
            {
                "address": "0x20001354",
                "name": "configuration.etb_pid.Kp",
                "type": 9
            },
            {
                "address": "0x20001364",
                "name": "configuration.etb_pid.limit_integrator_max",
                "type": 9
            },
            {
                "address": "0x20001360",
                "name": "configuration.etb_pid.limit_integrator_min",
                "type": 9
            },
            {
                "address": "0x20001394",
                "name": "configuration.fan1_off_temp",
                "type": 9
            },
            {
                "address": "0x20001398",
                "name": "configuration.fan1_on_temp",
                "type": 9
            },
            {
                "address": "0x2000139c",
                "name": "configuration.fan2_off_temp",
                "type": 9
            },
            {
                "address": "0x200013a0",
                "name": "configuration.fan2_on_temp",
                "type": 9
            },
            {
                "address": "0x20000a0c",
                "name": "configuration.firing_order",
                "type": 2
            },
            {
                "address": "0x20000a0d",
                "name": "configuration.fuel_type",
                "type": 2
            },
            {
                "address": "0x20001350",
                "name": "configuration.governer_idle_rpm",
                "type": 9
            },
            {
                "address": "0x20001380",
                "name": "configuration.governer_pid.derivative_filter_tau",
                "type": 9
            },
            {
                "address": "0x20001374",
                "name": "configuration.governer_pid.Kd",
                "type": 9
            },
            {
                "address": "0x20001370",
                "name": "configuration.governer_pid.Ki",
                "type": 9
            },
            {
                "address": "0x2000136c",
                "name": "configuration.governer_pid.Kp",
                "type": 9
            },
            {
                "address": "0x2000137c",
                "name": "configuration.governer_pid.limit_integrator_max",
                "type": 9
            },
            {
                "address": "0x20001378",
                "name": "configuration.governer_pid.limit_integrator_min",
                "type": 9
            },
            {
                "address": "0x2000134c",
                "name": "configuration.governer_target_rpm",
                "type": 9
            },
            {
                "address": "0x20001349",
                "name": "configuration.iat_sensor_type",
                "type": 2
            },
            {
                "address": "0x20000a24",
                "name": "configuration.ignition_dwell",
                "type": 9
            },
            {
                "address": "0x20000a28",
                "name": "configuration.ignition_is_multi_spark",
                "type": 1
            },
            {
                "address": "0x20000a20",
                "name": "configuration.ignition_mode",
                "type": 2
            },
            {
                "address": "0x20000a29",
                "name": "configuration.ignition_multi_spark_number_of_sparks",
                "type": 1
            },
            {
                "address": "0x20000a30",
                "name": "configuration.ignition_multi_spark_rest_time",
                "type": 9
            },
            {
                "address": "0x20000a2c",
                "name": "configuration.ignition_multi_spark_rpm_threshold",
                "type": 9
            },
            {
                "address": "0x20000e34",
                "name": "configuration.ignition_table.x_bins[0]",
                "type": 9
            },
            {
                "address": "0x20000e74",
                "name": "configuration.ignition_table.y_bins[0]",
                "type": 9
            },
            {
                "address": "0x2000134a",
                "name": "configuration.map_sensor_type",
                "type": 2
            },
            {
                "address": "0x20001389",
                "name": "configuration.protection_clt_enabled",
                "type": 1
            },
            {
                "address": "0x2000138a",
                "name": "configuration.protection_clt_load_disconnect_enabled",
                "type": 1
            },
            {
                "address": "0x20001390",
                "name": "configuration.protection_clt_load_disconnect_temprature",
                "type": 9
            },
            {
                "address": "0x2000138c",
                "name": "configuration.protection_clt_shutdown_temprature",
                "type": 9
            },
            {
                "address": "0x20001388",
                "name": "configuration.protection_oil_pressure_enabled",
                "type": 1
            },
            {
                "address": "0x20001384",
                "name": "configuration.protection_oil_pressure_time",
                "type": 5
            },
            {
                "address": "0x20001334",
                "name": "configuration.stoich_afr_gas",
                "type": 9
            },
            {
                "address": "0x20001338",
                "name": "configuration.stoich_afr_petrol",
                "type": 9
            },
            {
                "address": "0x20001340",
                "name": "configuration.tps1.analog_channel",
                "type": 2
            },
            {
                "address": "0x2000133e",
                "name": "configuration.tps1.closed_throttle_adc_value",
                "type": 3
            },
            {
                "address": "0x20001341",
                "name": "configuration.tps1.is_inverted",
                "type": 1
            },
            {
                "address": "0x2000133c",
                "name": "configuration.tps1.wide_open_throttle_adc_value",
                "type": 3
            },
            {
                "address": "0x20001346",
                "name": "configuration.tps2.analog_channel",
                "type": 2
            },
            {
                "address": "0x20001344",
                "name": "configuration.tps2.closed_throttle_adc_value",
                "type": 3
            },
            {
                "address": "0x20001347",
                "name": "configuration.tps2.is_inverted",
                "type": 1
            },
            {
                "address": "0x20001342",
                "name": "configuration.tps2.wide_open_throttle_adc_value",
                "type": 3
            },
            {
                "address": "0x20000a0e",
                "name": "configuration.trigger.filtering",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000a0f",
                "name": "configuration.trigger.full_teeth",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x20000a10",
                "name": "configuration.trigger.missing_teeth",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x200012b4",
                "name": "configuration.ve_table.x_bins[0]",
                "type": 9
            },
            {
                "address": "0x200012f4",
                "name": "configuration.ve_table.y_bins[0]",
                "type": 9
            },
            {
                "address": "0x20000258",
                "name": "conversion_is_happening",
                "type": 1
            },
            {
                "address": "0x0800b3b8",
                "name": "defaultTask_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x0800b3bc",
                "name": "defaultTask_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x0800b3c0",
                "name": "defaultTask_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x0800b3b4",
                "name": "defaultTask_attributes.name",
                "type": 5
            },
            {
                "address": "0x0800b3cc",
                "name": "defaultTask_attributes.priority",
                "type": 4
            },
            {
                "address": "0x0800b3d4",
                "name": "defaultTask_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x0800b3c4",
                "name": "defaultTask_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x0800b3c8",
                "name": "defaultTask_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x0800b3d0",
                "name": "defaultTask_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200013c8",
                "name": "defaultTaskHandle",
                "type": 5
            },
            {
                "address": "0x200009b0",
                "name": "engine.camshaft_angle",
                "type": 9
            },
            {
                "address": "0x200009fc",
                "name": "engine.clt",
                "type": 9
            },
            {
                "address": "0x200009ac",
                "name": "engine.crankshaft_angle",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200009b8",
                "name": "engine.cylinder_count",
                "type": 1
            },
            {
                "address": "0x200009bc",
                "name": "engine.firing_interval",
                "type": 9
            },
            {
                "address": "0x200009f0",
                "name": "engine.flags",
                "type": 5
            },
            {
                "address": "0x200009ec",
                "name": "engine.governer_status",
                "type": 2
            },
            {
                "address": "0x20000a00",
                "name": "engine.iat",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200009c0",
                "name": "engine.ignition_advance",
                "type": 9
            },
            {
                "address": "0x200009f8",
                "name": "engine.map",
                "type": 9
            },
            {
                "address": "0x20000a04",
                "name": "engine.oil_pressure",
                "type": 1
            },
            {
                "address": "0x200009b4",
                "name": "engine.rpm",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200009b9",
                "name": "engine.spinning_state",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x200009a8",
                "name": "engine.total_revolutions",
                "type": 5,
                "checked": true
            },
            {
                "address": "0x200009f4",
                "name": "engine.tps1",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x200009e4",
                "name": "engine.trigger._counted_tooth",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x200009d8",
                "name": "engine.trigger._current_tooth_gap_us",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200009dc",
                "name": "engine.trigger._shorter_tooth_gap",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200009e0",
                "name": "engine.trigger._target_tooth_gap_us",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200009cc",
                "name": "engine.trigger._tooth_time_us[0]",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200009e6",
                "name": "engine.trigger._trigger_actual_teeth",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x200009c8",
                "name": "engine.trigger._trigger_filter_time_us",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x200009c4",
                "name": "engine.trigger.initialized",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x200009e8",
                "name": "engine.trigger.settings",
                "type": 5
            },
            {
                "address": "0x200009c6",
                "name": "engine.trigger.sync_loss_counter",
                "type": 3,
                "checked": false
            },
            {
                "address": "0x200009c5",
                "name": "engine.trigger.sync_status",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x0800b318",
                "name": "engine_flags_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x0800b31c",
                "name": "engine_flags_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x0800b320",
                "name": "engine_flags_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x0800b314",
                "name": "engine_flags_attributes.name",
                "type": 5
            },
            {
                "address": "0x200013b4",
                "name": "engine_flagsHandle",
                "type": 5
            },
            {
                "address": "0x20000998",
                "name": "etb1.motor",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x2000099c",
                "name": "etb1.pid",
                "type": 5
            },
            {
                "address": "0x200009a0",
                "name": "etb1.sensor",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20000994",
                "name": "etb1.state",
                "type": 2
            },
            {
                "address": "0x200009a4",
                "name": "etb1.target_position",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000990",
                "name": "etb1_motor.current_direction",
                "type": 2,
                "checked": false
            },
            {
                "address": "0x20000991",
                "name": "etb1_motor.current_duty_cycle",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x20000992",
                "name": "etb1_motor.status",
                "type": 2
            },
            {
                "address": "0x2000097c",
                "name": "etb1_motor.timer",
                "type": 5
            },
            {
                "address": "0x20000980",
                "name": "etb1_motor.timer_channel_output_1",
                "type": 5
            },
            {
                "address": "0x20000984",
                "name": "etb1_motor.timer_channel_output_2",
                "type": 5
            },
            {
                "address": "0x20000988",
                "name": "etb1_motor.timer_channel_output_3",
                "type": 5
            },
            {
                "address": "0x2000098c",
                "name": "etb1_motor.timer_channel_output_4",
                "type": 5
            },
            {
                "address": "0x2000000c",
                "name": "etb1_pid.derivative_filter_tau",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000024",
                "name": "etb1_pid.differentiator",
                "type": 9
            },
            {
                "address": "0x20000020",
                "name": "etb1_pid.integrator",
                "type": 9
            },
            {
                "address": "0x20000008",
                "name": "etb1_pid.Kd",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000004",
                "name": "etb1_pid.Ki",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000000",
                "name": "etb1_pid.Kp",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x2000001c",
                "name": "etb1_pid.limit_integrator_max",
                "type": 9
            },
            {
                "address": "0x20000018",
                "name": "etb1_pid.limit_integrator_min",
                "type": 9
            },
            {
                "address": "0x20000014",
                "name": "etb1_pid.limit_output_max",
                "type": 9
            },
            {
                "address": "0x20000010",
                "name": "etb1_pid.limit_output_min",
                "type": 9
            },
            {
                "address": "0x20000038",
                "name": "etb1_pid.output",
                "type": 9,
                "checked": true
            },
            {
                "address": "0x20000030",
                "name": "etb1_pid.prev_controller_time_us",
                "type": 5
            },
            {
                "address": "0x20000028",
                "name": "etb1_pid.prev_error",
                "type": 9
            },
            {
                "address": "0x2000002c",
                "name": "etb1_pid.prev_input",
                "type": 9
            },
            {
                "address": "0x20000034",
                "name": "etb1_pid.setpoint",
                "type": 9,
                "checked": false
            },
            {
                "address": "0x20005cb4",
                "name": "event_queue[0].arg",
                "type": 5
            },
            {
                "address": "0x20005cac",
                "name": "event_queue[0].callback_arg",
                "type": 5
            },
            {
                "address": "0x20005cb0",
                "name": "event_queue[0].callback_noarg",
                "type": 5
            },
            {
                "address": "0x20005cb8",
                "name": "event_queue[0].state",
                "type": 2
            },
            {
                "address": "0x20005ca8",
                "name": "event_queue[0].timestamp_us",
                "type": 5
            },
            {
                "address": "0x20005cb9",
                "name": "event_queue[0].uses_arg",
                "type": 1
            },
            {
                "address": "0x2000013c",
                "name": "FS_Desc.GetConfigurationStrDescriptor",
                "type": 5
            },
            {
                "address": "0x20000128",
                "name": "FS_Desc.GetDeviceDescriptor",
                "type": 5
            },
            {
                "address": "0x20000140",
                "name": "FS_Desc.GetInterfaceStrDescriptor",
                "type": 5
            },
            {
                "address": "0x2000012c",
                "name": "FS_Desc.GetLangIDStrDescriptor",
                "type": 5
            },
            {
                "address": "0x20000130",
                "name": "FS_Desc.GetManufacturerStrDescriptor",
                "type": 5
            },
            {
                "address": "0x20000134",
                "name": "FS_Desc.GetProductStrDescriptor",
                "type": 5
            },
            {
                "address": "0x20000138",
                "name": "FS_Desc.GetSerialStrDescriptor",
                "type": 5
            },
            {
                "address": "0x0800b370",
                "name": "fuel_task_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x0800b374",
                "name": "fuel_task_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x0800b378",
                "name": "fuel_task_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x0800b36c",
                "name": "fuel_task_attributes.name",
                "type": 5
            },
            {
                "address": "0x0800b384",
                "name": "fuel_task_attributes.priority",
                "type": 4
            },
            {
                "address": "0x0800b38c",
                "name": "fuel_task_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x0800b37c",
                "name": "fuel_task_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x0800b380",
                "name": "fuel_task_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x0800b388",
                "name": "fuel_task_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200013c0",
                "name": "fuel_taskHandle",
                "type": 5
            },
            {
                "address": "0x20000278",
                "name": "hadc",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "hadc1.DMA_Handle",
                "type": 5
            },
            {
                "address": "0x20000254",
                "name": "hadc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20000214",
                "name": "hadc1.Init.ClockPrescaler",
                "type": 5
            },
            {
                "address": "0x20000228",
                "name": "hadc1.Init.ContinuousConvMode",
                "type": 2
            },
            {
                "address": "0x2000021c",
                "name": "hadc1.Init.DataAlign",
                "type": 5
            },
            {
                "address": "0x20000230",
                "name": "hadc1.Init.DiscontinuousConvMode",
                "type": 2
            },
            {
                "address": "0x20000240",
                "name": "hadc1.Init.DMAContinuousRequests",
                "type": 2
            },
            {
                "address": "0x20000224",
                "name": "hadc1.Init.EOCSelection",
                "type": 5
            },
            {
                "address": "0x20000238",
                "name": "hadc1.Init.ExternalTrigConv",
                "type": 5
            },
            {
                "address": "0x2000023c",
                "name": "hadc1.Init.ExternalTrigConvEdge",
                "type": 5
            },
            {
                "address": "0x2000022c",
                "name": "hadc1.Init.NbrOfConversion",
                "type": 5
            },
            {
                "address": "0x20000234",
                "name": "hadc1.Init.NbrOfDiscConversion",
                "type": 5
            },
            {
                "address": "0x20000218",
                "name": "hadc1.Init.Resolution",
                "type": 5
            },
            {
                "address": "0x20000220",
                "name": "hadc1.Init.ScanConvMode",
                "type": 5
            },
            {
                "address": "0x20000210",
                "name": "hadc1.Instance",
                "type": 5
            },
            {
                "address": "0x2000024c",
                "name": "hadc1.Lock",
                "type": 2
            },
            {
                "address": "0x20000244",
                "name": "hadc1.NbrOfCurrentConversionRank",
                "type": 5
            },
            {
                "address": "0x20000250",
                "name": "hadc1.State",
                "type": 5
            },
            {
                "address": "0x200013a4",
                "name": "hcrc.Instance",
                "type": 5
            },
            {
                "address": "0x200013a8",
                "name": "hcrc.Lock",
                "type": 2
            },
            {
                "address": "0x200013a9",
                "name": "hcrc.State",
                "type": 2
            },
            {
                "address": "0x20000204",
                "name": "hdma_adc1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200001b4",
                "name": "hdma_adc1.Init.Channel",
                "type": 5
            },
            {
                "address": "0x200001b8",
                "name": "hdma_adc1.Init.Direction",
                "type": 5
            },
            {
                "address": "0x200001d4",
                "name": "hdma_adc1.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x200001d8",
                "name": "hdma_adc1.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x200001dc",
                "name": "hdma_adc1.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x200001c8",
                "name": "hdma_adc1.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001c0",
                "name": "hdma_adc1.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x200001cc",
                "name": "hdma_adc1.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200001e0",
                "name": "hdma_adc1.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x200001c4",
                "name": "hdma_adc1.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x200001bc",
                "name": "hdma_adc1.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x200001d0",
                "name": "hdma_adc1.Init.Priority",
                "type": 5
            },
            {
                "address": "0x200001b0",
                "name": "hdma_adc1.Instance",
                "type": 5
            },
            {
                "address": "0x200001e4",
                "name": "hdma_adc1.Lock",
                "type": 2
            },
            {
                "address": "0x200001e8",
                "name": "hdma_adc1.Parent",
                "type": 5
            },
            {
                "address": "0x200001e5",
                "name": "hdma_adc1.State",
                "type": 2
            },
            {
                "address": "0x20000208",
                "name": "hdma_adc1.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x2000020c",
                "name": "hdma_adc1.StreamIndex",
                "type": 5
            },
            {
                "address": "0x20000200",
                "name": "hdma_adc1.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x200001ec",
                "name": "hdma_adc1.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x200001fc",
                "name": "hdma_adc1.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "hdma_adc1.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200001f4",
                "name": "hdma_adc1.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x200001f8",
                "name": "hdma_adc1.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200054b4",
                "name": "hi2c1.Devaddress",
                "type": 5
            },
            {
                "address": "0x200054b0",
                "name": "hi2c1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200054c0",
                "name": "hi2c1.EventCount",
                "type": 5
            },
            {
                "address": "0x200054a8",
                "name": "hi2c1.hdmarx",
                "type": 5
            },
            {
                "address": "0x200054a4",
                "name": "hi2c1.hdmatx",
                "type": 5
            },
            {
                "address": "0x20005480",
                "name": "hi2c1.Init.AddressingMode",
                "type": 5
            },
            {
                "address": "0x20005474",
                "name": "hi2c1.Init.ClockSpeed",
                "type": 5
            },
            {
                "address": "0x20005484",
                "name": "hi2c1.Init.DualAddressMode",
                "type": 5
            },
            {
                "address": "0x20005478",
                "name": "hi2c1.Init.DutyCycle",
                "type": 5
            },
            {
                "address": "0x2000548c",
                "name": "hi2c1.Init.GeneralCallMode",
                "type": 5
            },
            {
                "address": "0x20005490",
                "name": "hi2c1.Init.NoStretchMode",
                "type": 5
            },
            {
                "address": "0x2000547c",
                "name": "hi2c1.Init.OwnAddress1",
                "type": 5
            },
            {
                "address": "0x20005488",
                "name": "hi2c1.Init.OwnAddress2",
                "type": 5
            },
            {
                "address": "0x20005470",
                "name": "hi2c1.Instance",
                "type": 5
            },
            {
                "address": "0x200054ac",
                "name": "hi2c1.Lock",
                "type": 2
            },
            {
                "address": "0x200054b8",
                "name": "hi2c1.Memaddress",
                "type": 5
            },
            {
                "address": "0x200054bc",
                "name": "hi2c1.MemaddSize",
                "type": 5
            },
            {
                "address": "0x200054ae",
                "name": "hi2c1.Mode",
                "type": 2
            },
            {
                "address": "0x20005494",
                "name": "hi2c1.pBuffPtr",
                "type": 5
            },
            {
                "address": "0x200054a0",
                "name": "hi2c1.PreviousState",
                "type": 5
            },
            {
                "address": "0x200054ad",
                "name": "hi2c1.State",
                "type": 2
            },
            {
                "address": "0x2000549a",
                "name": "hi2c1.XferCount",
                "type": 3
            },
            {
                "address": "0x2000549c",
                "name": "hi2c1.XferOptions",
                "type": 5
            },
            {
                "address": "0x20005498",
                "name": "hi2c1.XferSize",
                "type": 3
            },
            {
                "address": "0x20007028",
                "name": "hpcd_USB_OTG_FS.battery_charging_active",
                "type": 5
            },
            {
                "address": "0x2000701c",
                "name": "hpcd_USB_OTG_FS.BESL",
                "type": 5
            },
            {
                "address": "0x20006fe4",
                "name": "hpcd_USB_OTG_FS.ErrorCode",
                "type": 5
            },
            {
                "address": "0x20007020",
                "name": "hpcd_USB_OTG_FS.FrameNumber",
                "type": 5
            },
            {
                "address": "0x20006b65",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].data_pid_start",
                "type": 1
            },
            {
                "address": "0x20006b7c",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].dma_addr",
                "type": 5
            },
            {
                "address": "0x20006b78",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].even_odd_frame",
                "type": 1
            },
            {
                "address": "0x20006b61",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_in",
                "type": 1
            },
            {
                "address": "0x20006b63",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_iso_incomplete",
                "type": 1
            },
            {
                "address": "0x20006b62",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].is_stall",
                "type": 1
            },
            {
                "address": "0x20006b68",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20006b60",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].num",
                "type": 1
            },
            {
                "address": "0x20006b7a",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].tx_fifo_num",
                "type": 3
            },
            {
                "address": "0x20006b64",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].type",
                "type": 1
            },
            {
                "address": "0x20006b6c",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_buff",
                "type": 5
            },
            {
                "address": "0x20006b74",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_count",
                "type": 5
            },
            {
                "address": "0x20006b70",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_len",
                "type": 5
            },
            {
                "address": "0x20006b80",
                "name": "hpcd_USB_OTG_FS.IN_ep[0].xfer_size",
                "type": 5
            },
            {
                "address": "0x20006b59",
                "name": "hpcd_USB_OTG_FS.Init.battery_charging_enable",
                "type": 1
            },
            {
                "address": "0x20006b50",
                "name": "hpcd_USB_OTG_FS.Init.dev_endpoints",
                "type": 1
            },
            {
                "address": "0x20006b52",
                "name": "hpcd_USB_OTG_FS.Init.dma_enable",
                "type": 1
            },
            {
                "address": "0x20006b54",
                "name": "hpcd_USB_OTG_FS.Init.ep0_mps",
                "type": 1
            },
            {
                "address": "0x20006b51",
                "name": "hpcd_USB_OTG_FS.Init.Host_channels",
                "type": 1
            },
            {
                "address": "0x20006b57",
                "name": "hpcd_USB_OTG_FS.Init.low_power_enable",
                "type": 1
            },
            {
                "address": "0x20006b58",
                "name": "hpcd_USB_OTG_FS.Init.lpm_enable",
                "type": 1
            },
            {
                "address": "0x20006b55",
                "name": "hpcd_USB_OTG_FS.Init.phy_itface",
                "type": 1
            },
            {
                "address": "0x20006b56",
                "name": "hpcd_USB_OTG_FS.Init.Sof_enable",
                "type": 1
            },
            {
                "address": "0x20006b53",
                "name": "hpcd_USB_OTG_FS.Init.speed",
                "type": 1
            },
            {
                "address": "0x20006b5b",
                "name": "hpcd_USB_OTG_FS.Init.use_dedicated_ep1",
                "type": 1
            },
            {
                "address": "0x20006b5c",
                "name": "hpcd_USB_OTG_FS.Init.use_external_vbus",
                "type": 1
            },
            {
                "address": "0x20006b5a",
                "name": "hpcd_USB_OTG_FS.Init.vbus_sensing_enable",
                "type": 1
            },
            {
                "address": "0x20006b4c",
                "name": "hpcd_USB_OTG_FS.Instance",
                "type": 5
            },
            {
                "address": "0x20006fe0",
                "name": "hpcd_USB_OTG_FS.Lock",
                "type": 2
            },
            {
                "address": "0x20007024",
                "name": "hpcd_USB_OTG_FS.lpm_active",
                "type": 5
            },
            {
                "address": "0x20007018",
                "name": "hpcd_USB_OTG_FS.LPM_State",
                "type": 2
            },
            {
                "address": "0x20006da5",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].data_pid_start",
                "type": 1
            },
            {
                "address": "0x20006dbc",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].dma_addr",
                "type": 5
            },
            {
                "address": "0x20006db8",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].even_odd_frame",
                "type": 1
            },
            {
                "address": "0x20006da1",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_in",
                "type": 1
            },
            {
                "address": "0x20006da3",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_iso_incomplete",
                "type": 1
            },
            {
                "address": "0x20006da2",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].is_stall",
                "type": 1
            },
            {
                "address": "0x20006da8",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20006da0",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].num",
                "type": 1
            },
            {
                "address": "0x20006dba",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].tx_fifo_num",
                "type": 3
            },
            {
                "address": "0x20006da4",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].type",
                "type": 1
            },
            {
                "address": "0x20006dac",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_buff",
                "type": 5
            },
            {
                "address": "0x20006db4",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_count",
                "type": 5
            },
            {
                "address": "0x20006db0",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_len",
                "type": 5
            },
            {
                "address": "0x20006dc0",
                "name": "hpcd_USB_OTG_FS.OUT_ep[0].xfer_size",
                "type": 5
            },
            {
                "address": "0x2000702c",
                "name": "hpcd_USB_OTG_FS.pData",
                "type": 5
            },
            {
                "address": "0x20006fe8",
                "name": "hpcd_USB_OTG_FS.Setup[0]",
                "type": 5
            },
            {
                "address": "0x20006fe1",
                "name": "hpcd_USB_OTG_FS.State",
                "type": 2
            },
            {
                "address": "0x20006b5d",
                "name": "hpcd_USB_OTG_FS.USB_Address",
                "type": 1
            },
            {
                "address": "0x20005b50",
                "name": "htim1.Channel",
                "type": 2
            },
            {
                "address": "0x20005b76",
                "name": "htim1.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20005b72",
                "name": "htim1.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20005b7a",
                "name": "htim1.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20005b54",
                "name": "htim1.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20005b4c",
                "name": "htim1.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20005b44",
                "name": "htim1.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20005b3c",
                "name": "htim1.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20005b40",
                "name": "htim1.Init.Period",
                "type": 5
            },
            {
                "address": "0x20005b38",
                "name": "htim1.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20005b48",
                "name": "htim1.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20005b34",
                "name": "htim1.Instance",
                "type": 5
            },
            {
                "address": "0x20005b70",
                "name": "htim1.Lock",
                "type": 2
            },
            {
                "address": "0x20005b71",
                "name": "htim1.State",
                "type": 2
            },
            {
                "address": "0x20005574",
                "name": "htim11.Channel",
                "type": 2
            },
            {
                "address": "0x2000559a",
                "name": "htim11.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20005596",
                "name": "htim11.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x2000559e",
                "name": "htim11.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20005578",
                "name": "htim11.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20005570",
                "name": "htim11.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20005568",
                "name": "htim11.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20005560",
                "name": "htim11.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20005564",
                "name": "htim11.Init.Period",
                "type": 5
            },
            {
                "address": "0x2000555c",
                "name": "htim11.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x2000556c",
                "name": "htim11.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20005558",
                "name": "htim11.Instance",
                "type": 5
            },
            {
                "address": "0x20005594",
                "name": "htim11.Lock",
                "type": 2
            },
            {
                "address": "0x20005595",
                "name": "htim11.State",
                "type": 2
            },
            {
                "address": "0x20005b08",
                "name": "htim2.Channel",
                "type": 2
            },
            {
                "address": "0x20005b2e",
                "name": "htim2.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20005b2a",
                "name": "htim2.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20005b32",
                "name": "htim2.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20005b0c",
                "name": "htim2.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20005b04",
                "name": "htim2.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20005afc",
                "name": "htim2.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20005af4",
                "name": "htim2.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20005af8",
                "name": "htim2.Init.Period",
                "type": 5
            },
            {
                "address": "0x20005af0",
                "name": "htim2.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20005b00",
                "name": "htim2.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20005aec",
                "name": "htim2.Instance",
                "type": 5
            },
            {
                "address": "0x20005b28",
                "name": "htim2.Lock",
                "type": 2
            },
            {
                "address": "0x20005b29",
                "name": "htim2.State",
                "type": 2
            },
            {
                "address": "0x20005ac0",
                "name": "htim3.Channel",
                "type": 2
            },
            {
                "address": "0x20005ae6",
                "name": "htim3.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x20005ae2",
                "name": "htim3.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20005aea",
                "name": "htim3.DMABurstState",
                "type": 2
            },
            {
                "address": "0x20005ac4",
                "name": "htim3.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20005abc",
                "name": "htim3.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x20005ab4",
                "name": "htim3.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20005aac",
                "name": "htim3.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20005ab0",
                "name": "htim3.Init.Period",
                "type": 5
            },
            {
                "address": "0x20005aa8",
                "name": "htim3.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20005ab8",
                "name": "htim3.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x20005aa4",
                "name": "htim3.Instance",
                "type": 5
            },
            {
                "address": "0x20005ae0",
                "name": "htim3.Lock",
                "type": 2
            },
            {
                "address": "0x20005ae1",
                "name": "htim3.State",
                "type": 2
            },
            {
                "address": "0x20006124",
                "name": "hUsbDeviceFS.classId",
                "type": 5
            },
            {
                "address": "0x200060f8",
                "name": "hUsbDeviceFS.ConfIdx",
                "type": 1
            },
            {
                "address": "0x200060ee",
                "name": "hUsbDeviceFS.dev_address",
                "type": 1
            },
            {
                "address": "0x20005e54",
                "name": "hUsbDeviceFS.dev_config",
                "type": 5
            },
            {
                "address": "0x20005e5c",
                "name": "hUsbDeviceFS.dev_config_status",
                "type": 5
            },
            {
                "address": "0x200060ef",
                "name": "hUsbDeviceFS.dev_connection_status",
                "type": 1
            },
            {
                "address": "0x20005e58",
                "name": "hUsbDeviceFS.dev_default_config",
                "type": 5
            },
            {
                "address": "0x200060ed",
                "name": "hUsbDeviceFS.dev_old_state",
                "type": 1
            },
            {
                "address": "0x200060f4",
                "name": "hUsbDeviceFS.dev_remote_wakeup",
                "type": 5
            },
            {
                "address": "0x20005e60",
                "name": "hUsbDeviceFS.dev_speed",
                "type": 2
            },
            {
                "address": "0x200060ec",
                "name": "hUsbDeviceFS.dev_state",
                "type": 1
            },
            {
                "address": "0x200060f0",
                "name": "hUsbDeviceFS.dev_test_mode",
                "type": 1
            },
            {
                "address": "0x200060e8",
                "name": "hUsbDeviceFS.ep0_data_len",
                "type": 5
            },
            {
                "address": "0x200060e4",
                "name": "hUsbDeviceFS.ep0_state",
                "type": 5
            },
            {
                "address": "0x20005e76",
                "name": "hUsbDeviceFS.ep_in[0].bInterval",
                "type": 3
            },
            {
                "address": "0x20005e74",
                "name": "hUsbDeviceFS.ep_in[0].is_used",
                "type": 3
            },
            {
                "address": "0x20005e70",
                "name": "hUsbDeviceFS.ep_in[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20005e6c",
                "name": "hUsbDeviceFS.ep_in[0].rem_length",
                "type": 5
            },
            {
                "address": "0x20005e64",
                "name": "hUsbDeviceFS.ep_in[0].status",
                "type": 5
            },
            {
                "address": "0x20005e68",
                "name": "hUsbDeviceFS.ep_in[0].total_length",
                "type": 5
            },
            {
                "address": "0x20005fb6",
                "name": "hUsbDeviceFS.ep_out[0].bInterval",
                "type": 3
            },
            {
                "address": "0x20005fb4",
                "name": "hUsbDeviceFS.ep_out[0].is_used",
                "type": 3
            },
            {
                "address": "0x20005fb0",
                "name": "hUsbDeviceFS.ep_out[0].maxpacket",
                "type": 5
            },
            {
                "address": "0x20005fac",
                "name": "hUsbDeviceFS.ep_out[0].rem_length",
                "type": 5
            },
            {
                "address": "0x20005fa4",
                "name": "hUsbDeviceFS.ep_out[0].status",
                "type": 5
            },
            {
                "address": "0x20005fa8",
                "name": "hUsbDeviceFS.ep_out[0].total_length",
                "type": 5
            },
            {
                "address": "0x20005e50",
                "name": "hUsbDeviceFS.id",
                "type": 1
            },
            {
                "address": "0x20006128",
                "name": "hUsbDeviceFS.NumClasses",
                "type": 5
            },
            {
                "address": "0x2000611c",
                "name": "hUsbDeviceFS.pBosDesc",
                "type": 5
            },
            {
                "address": "0x20006108",
                "name": "hUsbDeviceFS.pClass[0]",
                "type": 5
            },
            {
                "address": "0x2000610c",
                "name": "hUsbDeviceFS.pClassData",
                "type": 5
            },
            {
                "address": "0x20006110",
                "name": "hUsbDeviceFS.pClassDataCmsit[0]",
                "type": 5
            },
            {
                "address": "0x20006120",
                "name": "hUsbDeviceFS.pConfDesc",
                "type": 5
            },
            {
                "address": "0x20006118",
                "name": "hUsbDeviceFS.pData",
                "type": 5
            },
            {
                "address": "0x20006104",
                "name": "hUsbDeviceFS.pDesc",
                "type": 5
            },
            {
                "address": "0x20006114",
                "name": "hUsbDeviceFS.pUserData[0]",
                "type": 5
            },
            {
                "address": "0x200060fa",
                "name": "hUsbDeviceFS.request.bmRequest",
                "type": 1
            },
            {
                "address": "0x200060fb",
                "name": "hUsbDeviceFS.request.bRequest",
                "type": 1
            },
            {
                "address": "0x200060fe",
                "name": "hUsbDeviceFS.request.wIndex",
                "type": 3
            },
            {
                "address": "0x20006100",
                "name": "hUsbDeviceFS.request.wLength",
                "type": 3
            },
            {
                "address": "0x200060fc",
                "name": "hUsbDeviceFS.request.wValue",
                "type": 3
            },
            {
                "address": "0x200054cc",
                "name": "ignition_coil_state[0]",
                "type": 2
            },
            {
                "address": "0x200054c8",
                "name": "ignition_order[0]",
                "type": 1
            },
            {
                "address": "0x200054d0",
                "name": "ignition_outputs[0].gpio",
                "type": 5
            },
            {
                "address": "0x200054d4",
                "name": "ignition_outputs[0].pin",
                "type": 5
            },
            {
                "address": "0x0800b34c",
                "name": "init_task_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x0800b350",
                "name": "init_task_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x0800b354",
                "name": "init_task_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x0800b348",
                "name": "init_task_attributes.name",
                "type": 5
            },
            {
                "address": "0x0800b360",
                "name": "init_task_attributes.priority",
                "type": 4
            },
            {
                "address": "0x0800b368",
                "name": "init_task_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x0800b358",
                "name": "init_task_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x0800b35c",
                "name": "init_task_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x0800b364",
                "name": "init_task_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200013bc",
                "name": "init_taskHandle",
                "type": 5
            },
            {
                "address": "0x20000934",
                "name": "KernelState",
                "type": 4
            },
            {
                "address": "0x20005550",
                "name": "map_sensor",
                "type": 5
            },
            {
                "address": "0x20005aa0",
                "name": "pxCurrentTCB",
                "type": 5
            },
            {
                "address": "0x20005c7c",
                "name": "pxCurrentTimerList",
                "type": 5
            },
            {
                "address": "0x20005614",
                "name": "pxDelayedTaskList",
                "type": 5
            },
            {
                "address": "0x20001864",
                "name": "pxEnd",
                "type": 5
            },
            {
                "address": "0x20005610",
                "name": "pxOverflowDelayedTaskList",
                "type": 5
            },
            {
                "address": "0x20005c78",
                "name": "pxOverflowTimerList",
                "type": 5
            },
            {
                "address": "0x20005644",
                "name": "pxReadyTasksLists[0].pxIndex",
                "type": 5
            },
            {
                "address": "0x20005640",
                "name": "pxReadyTasksLists[0].uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x2000564c",
                "name": "pxReadyTasksLists[0].xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20005650",
                "name": "pxReadyTasksLists[0].xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20005648",
                "name": "pxReadyTasksLists[0].xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20005548",
                "name": "sensor_clt",
                "type": 5
            },
            {
                "address": "0x2000554c",
                "name": "sensor_iat",
                "type": 5
            },
            {
                "address": "0x20005544",
                "name": "sensor_ops",
                "type": 5
            },
            {
                "address": "0x0800b328",
                "name": "sensor_task_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x0800b32c",
                "name": "sensor_task_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x0800b330",
                "name": "sensor_task_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x0800b324",
                "name": "sensor_task_attributes.name",
                "type": 5
            },
            {
                "address": "0x0800b33c",
                "name": "sensor_task_attributes.priority",
                "type": 4
            },
            {
                "address": "0x0800b344",
                "name": "sensor_task_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x0800b334",
                "name": "sensor_task_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x0800b338",
                "name": "sensor_task_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x0800b340",
                "name": "sensor_task_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200013b8",
                "name": "sensor_taskHandle",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "simulated_rpm",
                "type": 9
            },
            {
                "address": "0x200054c6",
                "name": "spark_is_in_progress",
                "type": 1
            },
            {
                "address": "0x20000054",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x200013cc",
                "name": "table_value",
                "type": 9
            },
            {
                "address": "0x200017d0",
                "name": "test_table.x_bins[0]",
                "type": 9
            },
            {
                "address": "0x20001810",
                "name": "test_table.y_bins[0]",
                "type": 9
            },
            {
                "address": "0x20005e38",
                "name": "timer",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "tps1.analog_channel",
                "type": 2
            },
            {
                "address": "0x2000003e",
                "name": "tps1.closed_throttle_adc_value",
                "type": 3
            },
            {
                "address": "0x20000041",
                "name": "tps1.is_inverted",
                "type": 1
            },
            {
                "address": "0x2000003c",
                "name": "tps1.wide_open_throttle_adc_value",
                "type": 3
            },
            {
                "address": "0x0800b394",
                "name": "trig_sim_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x0800b398",
                "name": "trig_sim_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x0800b39c",
                "name": "trig_sim_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x0800b390",
                "name": "trig_sim_attributes.name",
                "type": 5
            },
            {
                "address": "0x0800b3a8",
                "name": "trig_sim_attributes.priority",
                "type": 4
            },
            {
                "address": "0x0800b3b0",
                "name": "trig_sim_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x0800b3a0",
                "name": "trig_sim_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x0800b3a4",
                "name": "trig_sim_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x0800b3ac",
                "name": "trig_sim_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200013c4",
                "name": "trig_simHandle",
                "type": 5
            },
            {
                "address": "0x20005e3c",
                "name": "trigger",
                "type": 5,
                "checked": false
            },
            {
                "address": "0x20001870",
                "name": "ucHeap[0]",
                "type": 1
            },
            {
                "address": "0x200054f4",
                "name": "ucMaxSysCallPriority",
                "type": 1
            },
            {
                "address": "0x200054f0",
                "name": "ulMaxPRIGROUPValue",
                "type": 5
            },
            {
                "address": "0x20000938",
                "name": "usb_rx_queue_handle",
                "type": 5
            },
            {
                "address": "0x200000b0",
                "name": "USBD_CDC.DataIn",
                "type": 5
            },
            {
                "address": "0x200000b4",
                "name": "USBD_CDC.DataOut",
                "type": 5
            },
            {
                "address": "0x200000a0",
                "name": "USBD_CDC.DeInit",
                "type": 5
            },
            {
                "address": "0x200000ac",
                "name": "USBD_CDC.EP0_RxReady",
                "type": 5
            },
            {
                "address": "0x200000a8",
                "name": "USBD_CDC.EP0_TxSent",
                "type": 5
            },
            {
                "address": "0x200000d0",
                "name": "USBD_CDC.GetDeviceQualifierDescriptor",
                "type": 5
            },
            {
                "address": "0x200000c8",
                "name": "USBD_CDC.GetFSConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x200000c4",
                "name": "USBD_CDC.GetHSConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x200000cc",
                "name": "USBD_CDC.GetOtherSpeedConfigDescriptor",
                "type": 5
            },
            {
                "address": "0x2000009c",
                "name": "USBD_CDC.Init",
                "type": 5
            },
            {
                "address": "0x200000bc",
                "name": "USBD_CDC.IsoINIncomplete",
                "type": 5
            },
            {
                "address": "0x200000c0",
                "name": "USBD_CDC.IsoOUTIncomplete",
                "type": 5
            },
            {
                "address": "0x200000a4",
                "name": "USBD_CDC.Setup",
                "type": 5
            },
            {
                "address": "0x200000b8",
                "name": "USBD_CDC.SOF",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "USBD_CDC_CfgDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000d4",
                "name": "USBD_CDC_DeviceQualifierDesc[0]",
                "type": 1
            },
            {
                "address": "0x20000114",
                "name": "USBD_FS_DeviceDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000e8",
                "name": "USBD_Interface_fops_FS.Control",
                "type": 5
            },
            {
                "address": "0x200000e4",
                "name": "USBD_Interface_fops_FS.DeInit",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "USBD_Interface_fops_FS.Init",
                "type": 5
            },
            {
                "address": "0x200000ec",
                "name": "USBD_Interface_fops_FS.Receive",
                "type": 5
            },
            {
                "address": "0x200000f0",
                "name": "USBD_Interface_fops_FS.TransmitCplt",
                "type": 5
            },
            {
                "address": "0x20000110",
                "name": "USBD_LangIDDesc[0]",
                "type": 1
            },
            {
                "address": "0x20007034",
                "name": "USBD_StrDesc[0]",
                "type": 1
            },
            {
                "address": "0x200000f4",
                "name": "USBD_StringSerial[0]",
                "type": 1
            },
            {
                "address": "0x2000652c",
                "name": "UserRxBufferFS[0]",
                "type": 1
            },
            {
                "address": "0x2000612c",
                "name": "UserTxBufferFS[0]",
                "type": 1
            },
            {
                "address": "0x20005554",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000050",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "uxCriticalNesting",
                "type": 5
            },
            {
                "address": "0x200055cc",
                "name": "uxCurrentNumberOfTasks",
                "type": 5
            },
            {
                "address": "0x200055e4",
                "name": "uxDeletedTasksWaitingCleanUp",
                "type": 5
            },
            {
                "address": "0x200055a4",
                "name": "uxSchedulerSuspended",
                "type": 5
            },
            {
                "address": "0x200055b0",
                "name": "uxTaskNumber",
                "type": 5
            },
            {
                "address": "0x200055c4",
                "name": "uxTopReadyPriority",
                "type": 5
            },
            {
                "address": "0x20005e48",
                "name": "wheel_callback",
                "type": 5
            },
            {
                "address": "0x20005e4d",
                "name": "wheel_full_teeth",
                "type": 1
            },
            {
                "address": "0x20005e4c",
                "name": "wheel_missing_teeth",
                "type": 1
            },
            {
                "address": "0x20005c98",
                "name": "xActiveTimerList1.pxIndex",
                "type": 5
            },
            {
                "address": "0x20005c94",
                "name": "xActiveTimerList1.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20005ca0",
                "name": "xActiveTimerList1.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20005ca4",
                "name": "xActiveTimerList1.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20005c9c",
                "name": "xActiveTimerList1.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20005c84",
                "name": "xActiveTimerList2.pxIndex",
                "type": 5
            },
            {
                "address": "0x20005c80",
                "name": "xActiveTimerList2.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20005c8c",
                "name": "xActiveTimerList2.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20005c90",
                "name": "xActiveTimerList2.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20005c88",
                "name": "xActiveTimerList2.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20001850",
                "name": "xBlockAllocatedBit",
                "type": 5
            },
            {
                "address": "0x20005630",
                "name": "xDelayedTaskList1.pxIndex",
                "type": 5
            },
            {
                "address": "0x2000562c",
                "name": "xDelayedTaskList1.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20005638",
                "name": "xDelayedTaskList1.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x2000563c",
                "name": "xDelayedTaskList1.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20005634",
                "name": "xDelayedTaskList1.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x2000561c",
                "name": "xDelayedTaskList2.pxIndex",
                "type": 5
            },
            {
                "address": "0x20005618",
                "name": "xDelayedTaskList2.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20005624",
                "name": "xDelayedTaskList2.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20005628",
                "name": "xDelayedTaskList2.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20005620",
                "name": "xDelayedTaskList2.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20001860",
                "name": "xFreeBytesRemaining",
                "type": 5
            },
            {
                "address": "0x200055a8",
                "name": "xIdleTaskHandle",
                "type": 5
            },
            {
                "address": "0x2000185c",
                "name": "xMinimumEverFreeBytesRemaining",
                "type": 5
            },
            {
                "address": "0x200055ac",
                "name": "xNextTaskUnblockTime",
                "type": 5
            },
            {
                "address": "0x20001858",
                "name": "xNumberOfSuccessfulAllocations",
                "type": 5
            },
            {
                "address": "0x20001854",
                "name": "xNumberOfSuccessfulFrees",
                "type": 5
            },
            {
                "address": "0x200055b4",
                "name": "xNumOfOverflows",
                "type": 6
            },
            {
                "address": "0x200055bc",
                "name": "xPendedTicks",
                "type": 5
            },
            {
                "address": "0x20005600",
                "name": "xPendingReadyList.pxIndex",
                "type": 5
            },
            {
                "address": "0x200055fc",
                "name": "xPendingReadyList.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20005608",
                "name": "xPendingReadyList.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x2000560c",
                "name": "xPendingReadyList.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20005604",
                "name": "xPendingReadyList.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x200054f8",
                "name": "xQueueRegistry[0].pcQueueName",
                "type": 5
            },
            {
                "address": "0x200054fc",
                "name": "xQueueRegistry[0].xHandle",
                "type": 5
            },
            {
                "address": "0x200055c0",
                "name": "xSchedulerRunning",
                "type": 6
            },
            {
                "address": "0x20001868",
                "name": "xStart.pxNextFreeBlock",
                "type": 5
            },
            {
                "address": "0x2000186c",
                "name": "xStart.xBlockSize",
                "type": 5
            },
            {
                "address": "0x200055d4",
                "name": "xSuspendedTaskList.pxIndex",
                "type": 5
            },
            {
                "address": "0x200055d0",
                "name": "xSuspendedTaskList.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x200055dc",
                "name": "xSuspendedTaskList.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x200055e0",
                "name": "xSuspendedTaskList.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x200055d8",
                "name": "xSuspendedTaskList.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x200055ec",
                "name": "xTasksWaitingTermination.pxIndex",
                "type": 5
            },
            {
                "address": "0x200055e8",
                "name": "xTasksWaitingTermination.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x200055f4",
                "name": "xTasksWaitingTermination.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x200055f8",
                "name": "xTasksWaitingTermination.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x200055f0",
                "name": "xTasksWaitingTermination.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x200055c8",
                "name": "xTickCount",
                "type": 5
            },
            {
                "address": "0x20005c74",
                "name": "xTimerQueue",
                "type": 5
            },
            {
                "address": "0x20005c70",
                "name": "xTimerTaskHandle",
                "type": 5
            },
            {
                "address": "0x200055b8",
                "name": "xYieldPending",
                "type": 6
            }
        ],
        "expand": false,
        "filename": "SGC.elf",
        "exeModifiedTime": 1750696090995,
        "configLastUpdate": 1750696117494
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c5ffe0d.9063b2",
        "type": "switch",
        "z": "8381c865.236028",
        "name": "filter variable",
        "property": "payload.variablename",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "varfilter",
                "vt": "env"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 170,
        "y": 60,
        "wires": [
            [
                "4e5ba7a5.14dec8"
            ]
        ]
    },
    {
        "id": "4e5ba7a5.14dec8",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only table of duplets",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.variabledata",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "42bc6ed.5b20d9"
            ]
        ]
    },
    {
        "id": "42bc6ed.5b20d9",
        "type": "split",
        "z": "8381c865.236028",
        "name": "Split a table[1..n] of duplets in n msg of single duplet",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 800,
        "y": 60,
        "wires": [
            [
                "8b8ddb84.6fb208"
            ]
        ]
    },
    {
        "id": "8b8ddb84.6fb208",
        "type": "delay",
        "z": "8381c865.236028",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "outputs": 1,
        "x": 200,
        "y": 140,
        "wires": [
            [
                "66397fd3.d8111"
            ]
        ]
    },
    {
        "id": "66397fd3.d8111",
        "type": "change",
        "z": "8381c865.236028",
        "name": "keep only value and delete timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "d2089109f8b7b691",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "d2089109f8b7b691",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "52a7a840fdae121b",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "engine.crankshaft_angle",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1750696117844,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "logformat": "stcm",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "b38702b095c1bc24",
                "a14aca9d5559ebe8",
                "bbf98d78b4a4bd4e",
                "f53e1a0d28a93369",
                "f3a2dbe4c8b3c9c4",
                "7433a2ac1ec3d464",
                "14a9863beebde822"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "b38702b095c1bc24",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "engine.rpm",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 520,
        "wires": [
            [
                "e033af12c35a2edd"
            ]
        ]
    },
    {
        "id": "e033af12c35a2edd",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Engine speed",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 520,
        "wires": []
    },
    {
        "id": "a14aca9d5559ebe8",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "engine.crankshaft_angle",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 580,
        "wires": [
            [
                "3ccf623e846a5be4"
            ]
        ]
    },
    {
        "id": "bbf98d78b4a4bd4e",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "engine.trigger.sync_status",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 640,
        "wires": [
            [
                "efa0eb044074fa42"
            ]
        ]
    },
    {
        "id": "f53e1a0d28a93369",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "engine.total_revolutions",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 700,
        "wires": [
            [
                "56b919313b143ae2"
            ]
        ]
    },
    {
        "id": "3ccf623e846a5be4",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Crankshaft position",
        "label": "deg",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "efa0eb044074fa42",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sync status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 640,
        "wires": []
    },
    {
        "id": "56b919313b143ae2",
        "type": "ui_text",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total revolutions",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "f3a2dbe4c8b3c9c4",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "engine.tps1",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 760,
        "wires": [
            [
                "c22c2128e14679cc",
                "21db6d326edc2f68"
            ]
        ]
    },
    {
        "id": "7433a2ac1ec3d464",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "etb1_pid.setpoint",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 820,
        "wires": [
            [
                "2559341fea76e6a6"
            ]
        ]
    },
    {
        "id": "14a9863beebde822",
        "type": "subflow:8381c865.236028",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "env": [
            {
                "name": "varfilter",
                "value": "etb1_pid.output",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 880,
        "wires": [
            [
                "1b56dad0839e6d85"
            ]
        ]
    },
    {
        "id": "c22c2128e14679cc",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Electronic Throttle Position",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 760,
        "wires": []
    },
    {
        "id": "2559341fea76e6a6",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Electronic Throttle Setpoint",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "1b56dad0839e6d85",
        "type": "ui_gauge",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Electronic Throttle Effort",
        "label": "",
        "format": "{{value}}",
        "min": "-255",
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 880,
        "wires": []
    },
    {
        "id": "2f11d508d3780891",
        "type": "ui_slider",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "P-factor",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "219e32d2512a82c9"
            ]
        ]
    },
    {
        "id": "219e32d2512a82c9",
        "type": "template",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\": [\n    {\n        \"address\": \"0x20000000\",\n        \"type\": 9,\n        \"value\": \"{{payload}}\"\n    }\n    ],\n    \"accesspoint\": 0\n}",
        "output": "json",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "7c57c3f1b04aaf06"
            ]
        ]
    },
    {
        "id": "7c57c3f1b04aaf06",
        "type": "change",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 240,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "944a2bbd258d1452",
        "type": "ui_slider",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "I-factor",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": "1",
        "className": "",
        "x": 280,
        "y": 280,
        "wires": [
            [
                "7a6f68f0b2e0e313"
            ]
        ]
    },
    {
        "id": "7a6f68f0b2e0e313",
        "type": "template",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\": [\n    {\n        \"address\": \"0x20000004\",\n        \"type\": 9,\n        \"value\": \"{{payload}}\"\n    }\n    ],\n    \"accesspoint\": 0\n}",
        "output": "json",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "172ba4f1c1b9b993"
            ]
        ]
    },
    {
        "id": "172ba4f1c1b9b993",
        "type": "change",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "bed6579c5980c501",
        "type": "ui_slider",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "D-factor",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "10",
        "step": "0.001",
        "className": "",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "035f63b0eef227e7"
            ]
        ]
    },
    {
        "id": "035f63b0eef227e7",
        "type": "template",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\": [\n    {\n        \"address\": \"0x20000008\",\n        \"type\": 9,\n        \"value\": \"{{payload}}\"\n    }\n    ],\n    \"accesspoint\": 0\n}",
        "output": "json",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "e58dea3b26038785"
            ]
        ]
    },
    {
        "id": "e58dea3b26038785",
        "type": "change",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "e1a66619e09bbe3e",
        "type": "ui_slider",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "Target",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "100",
        "step": "0.1",
        "className": "",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "5d488876356b0b8a"
            ]
        ]
    },
    {
        "id": "5d488876356b0b8a",
        "type": "template",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\": [\n    {\n        \"address\": \"0x200009a4\",\n        \"type\": 9,\n        \"value\": \"{{payload}}\"\n    }\n    ],\n    \"accesspoint\": 0\n}",
        "output": "json",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "d624c3ebf8562d8d"
            ]
        ]
    },
    {
        "id": "d624c3ebf8562d8d",
        "type": "change",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 200,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "10e19e85282da3bc",
        "type": "ui_slider",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "Filter tau",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "0",
        "max": "10",
        "step": "0.001",
        "className": "",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "9b50c97ee6814452"
            ]
        ]
    },
    {
        "id": "9b50c97ee6814452",
        "type": "template",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"variablelist\": [\n    {\n        \"address\": \"0x2000000c\",\n        \"type\": 9,\n        \"value\": \"{{payload}}\"\n    }\n    ],\n    \"accesspoint\": 0\n}",
        "output": "json",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "e69c67d46886d21f"
            ]
        ]
    },
    {
        "id": "e69c67d46886d21f",
        "type": "change",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "write",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "6013fb0b.5b7504"
            ]
        ]
    },
    {
        "id": "21db6d326edc2f68",
        "type": "ui_chart",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "Electronic Throttle Body",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "3aa1fe85fd2544be",
        "type": "ui_numeric",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "label": "Target",
        "tooltip": "",
        "group": "f9c34dde.1e2f4",
        "order": 15,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "5d488876356b0b8a"
            ]
        ]
    }
]